

<html>
    <head>
        <title>Panel administratora</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        

        <div class="container">
            <div id="licznik" class="text-center my-5">
                <div class="row">
                    <div class="col-12 my-2">
                        <h1>Panel administratora</h1>
                    </div>
                    <div class="col-12 my-2">
                        <h2>Ilość wejśc na stronę: 
                            <strong>{{number_of_entries}}</strong>
                        </h2>
                    </div>
                </div>
            </div>
            <div id="wiadomosci my-5">
                
            
                <div class="row">
                    {% for message in messages %}
                        {% if message[6] == "0" %}
                            <div class="col-12 my-2">
                                <div class="alert alert-success">

                                    <div class="row">
                                        <div class="col-6 text-center ">
                                            <h4>{{message[1]}}</h4>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5>{{message[4]}}</h5>
                                            <br>
                                            <h5>{{message[5]}}</h5>
                                            <br>
                                            <h5>E-mail: <strong>{{message[2]}}</strong></h5>
                                            <br>
                                            <h5>Nr. tel: <strong>{{message[3]}}</strong></h5>
                                            <br>
                                            
                                        </div>
                                        <div class="col-12 text-center">
                                            
                                            <a href="dezaktywuj_wiadomosc_{{message[0]}}" onclick="if (confirm('Jesteś pewien?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
                                                <i class="fa-solid fa-check fa-3x" style="color:green;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    


                                    

                                </div>
                            </div>
                        {% else %}
                        <div class="col-12 my-2">
                            <div class="alert alert-secondary">

                                <div class="row">
                                    <div class="col-6 text-center ">
                                        <h4>{{message[1]}}</h4>
                                    </div>
                                    <div class="col-6 text-end">
                                        <h5>{{message[4]}}</h5>
                                        <br>
                                        <h5>{{message[5]}}</h5>
                                        <br>
                                        <h5>E-mail: <strong>{{message[2]}}</strong></h5>
                                        <br>
                                        <h5>Nr. tel: <strong>{{message[3]}}</strong></h5>
                                        <br>
                                        
                                    </div>
                                    <div class="col-12 text-center">
                                    </div>
                                </div>
                                


                                

                            </div>
                        </div>
                        {% endif %}                     
                    {% endfor %}

                    
                
                </div>
               


            </div>


        </div>


        
        




    </body>
</html>