{% extends 'base.html' %}
{% block head %}
<link href="{{url_for('static', filename='css/glowna.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='css/text-animation.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='css/background.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='css/gallery.css')}}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
{% endblock %}
{% block slogan1 %}
<!--
   ArtGrade
-->
{% endblock %}
{% block slogan2 %}
{% endblock %}
{% block content %}
<div id="content" style="padding:10vw;padding-bottom:10px;padding-top:1px;" class="bg">
   <div id="o_nas" class="p-2 my-5">
      <!-- MOBILE VIEW -->
      <div class="d-block d-sm-block d-md-none text-center">
         <div class="row">
            <div class="col-12">
               <div class="row ">
                  <div class="col-12" style="height:20vh;">
                     <p class="revealRight" style="font-size:8vw;">co powiesz na</p>
                  </div>
                  <div class="col-12" style="height:20vh;">
                     <p class="revealRight fw-bold" style="font-size:12vw;"> OTWARTOŚĆ?</p>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="row">
                  <div class="col-12">
                     <h2 class="revealLeft">
                        <img class='img-fluid' src="{{url_for('static', filename='assets/img/main_content/zebry/otwartosc.png')}}" alt="">
                     </h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="row">
                  <div class="col-12" style="height:20vh;">
                     <p class="revealRight" style="font-size:8vw;">do tego</p>
                  </div>
                  <div class="col-12 text-center" style="height:20vh;">
                     <p class="revealRight fw-bold" style="font-size:10vw;">KREATYWNOŚĆ?</p>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="row">
                  <div class="col-12">
                     <h2 class="revealLeft">
                        <img class='img-fluid' src="{{url_for('static', filename='assets/img/main_content/zebry/kreatywnosc.png')}}" alt="">
                     </h2>
                  </div>
               </div>


            </div>
         </div>
         <div class="row text-center">
            <div class="col-12">
               
               <p class="revealUp" style="font-size:12vw;">i najważniejsze,</p>
            </div>
            <div class="col-12">
               <p class="revealUp fw-bold" style="font-size:20vw;">PASJA!</p>
            </div>
         </div>
      </div>
      <!-- LARGE VIEW -->
      <div class="d-none d-md-block">
         <div class="row">
            <div class="col-sm-8 col-12">
               <div class="row text-center">
                  <div class="col-12 mb-5" style="height:20vh;">
                     <p class="revealRight" style="font-size:3vw;"> co powiesz na</p>
                  </div>
                  <div class="col-12 mt-5" style="height:20vh;">
                     <p class="revealRight fw-bold" style="font-size:4vw;">  OTWARTOŚĆ?</p>
                  </div>
               </div>
            </div>
            <div class="col-sm-4 col-12">
               <div class="row">
                  <div class="col-12" >
                     <h2 class="revealLeft">
                        <img class='img-fluid' src="{{url_for('static', filename='assets/img/main_content/zebry/otwartosc.png')}}" alt="">
                     </h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4 col-12">
               <div class="row">
                  <div class="col-sm-12">
                     <h2 class="revealRight">
                        <img class='img-fluid' src="{{url_for('static', filename='assets/img/main_content/zebry/kreatywnosc.png')}}" alt="">
                     </h2>
                  </div>
               </div>
            </div>
            <div class="col-sm-8 col-12">
               <div class="row text-center">
                  <div class="col-12 mb-5" style="height:20vh;">
                     <p class="revealLeft" style="font-size:3vw;"> a do tego</p>
                  </div>
                  <div class="col-12 mt-5" style="height:20vh;">
                     <p class="revealLeft fw-bold" style="font-size:4vw;"> KREATYWNOŚĆ?</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row text-center">
            <div class="col-12">
               <p class="revealUp" style="font-size:3.5vw;"> i najważniejsze,</p>
            </div>
            <div class="col-12">
               <p class="revealUp fw-bold" style="font-size:7vw"> PASJA! </p>
            </div>
         </div>
      </div>

   </div>



   <hr id="custom_hr" class="my-5">


   <div id="oferta" class="text-center">
      <div class="row">
         <div class="col-12 text-center my-5">
            <h1 class="revealUp"> W czym możemy Ci pomóc?</h1>
         </div>
         <div class="col-12 my-4">
            <div class="row">
               <div class="col-4">
                  <h3 class="revealRight" style=""> <i style="color:#960b0b;--fa-animation-duration:5s;" class="fa-solid fa-5x fa-flip fa-image"></i> </h3>
               </div>
               <div class="col-sm-4 col-6 text-center ">
                  <h3 class="revealLeft mt-5">  Grafika </h3>
               </div>
               <div class="col-sm-4"></div>
            </div>
         </div>
         <div class="col-12 my-4">
            <div class="row">
               <div class="col-sm-4"></div>
               <div class="col-sm-4 col-6 text-center">
                  <h3 class="revealRight mt-5">Strony internetowe   </h3>
               </div>
               <div class="col-sm-4 col-4">
                  <h3 class="revealLeft"> <i style="color:#960b0b;--fa-animation-duration: 1.5s;--fa-animation-iteration-count:1;" class="fa-solid fa-shake fa-5x fa-code"></i> </h3>
               </div>
            </div>
         </div>
         <div class="col-12 my-4">
            <div class="row">
               <div class="col-sm-4 col-4 ">
                  <h3 class="revealRight"> <i style="color:#960b0b;--fa-animation-duration: 1.5s;--fa-animation-iteration-count:1;" class="fa-solid fa-5x fa-thumbs-up fa-bounce"></i>  </h3>
               </div>
               <div class="col-sm-4 col-8 text-center">
                  <h3 class="revealLeft mt-5"> Prowadzenie social mediów </h3>
               </div>
               <div class="col-sm-4"></div>
            </div>
         </div>
         <div class="col-12 my-4">
            <div class="row">
               <div class="col-sm-4">
               </div>
               <div class="col-sm-4 col-6 text-center">
                  <h3 class="revealLeft mt-5"> Sesje zdjęciowe </h3>
               </div>
               <div class="col-sm-4 col-4 ">
                  <h3 class="revealRight"> <i style="color:#960b0b;--fa-animation-duration:5s;" class="fa-solid fa-flip fa-5x fa-camera-retro"></i>  </h3>
               </div>
            </div>
         </div>
      </div>
   </div>


   <hr id="custom_hr" class="my-5">

   <div id="nasze_realizacje" class="my-5 d-inline" >
      <div class="row">
         <div class="col-12 text-center my-5">
            <h1 class="revealUp"> Nasze realizacje </h1>
         </div>
         <div class="col-12">
            <div style="background-color: transparent;" class="swiffy-slider slider-item-show2 slider-nav-outside slider-nav-white slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-1x1 shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000">
               <div class="slider-container">
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/1.png')}}" loading="lazy" alt="..."></div>
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/2.png')}}" loading="lazy" alt="..."></div>
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/3.png')}}" loading="lazy" alt="..."></div>
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/4.png')}}" loading="lazy" alt="..."></div>
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/5.png')}}" loading="lazy" alt="..."></div>
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/6.png')}}" loading="lazy" alt="..."></div>
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/7.png')}}" loading="lazy" alt="..."></div>
                  <div><img src="{{url_for('static', filename='assets/img/main_content/realizacje/8.png')}}" loading="lazy" alt="..."></div>
               </div>
           
               <button type="button" class="slider-nav" aria-label="Go left"></button>
               <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
           
           </div>
         </div>
        
  </div>


   <hr id="custom_hr" class="my-5">






   <div id="kontakt" class="text-center my-5">

      <form method="POST" id="form" action="contact">

      <div class="container">
         <div class="row justify-content-center">
         <div class="col-md-10">
            

            <div class="row justify-content-center">
               <div class="col-md-6">
               
               <h3 class="mb-4">Porozmawiajmy o wszystkim!</h3>
               <p>Kto pyta, nie błądzi. Racja?</p>

               <p>
                  <img class='img-fluid' src="{{url_for('static', filename='assets/img/main_content/login_photo.svg')}}" alt="">
               
               </p>


               </div>
               <div class="col-md-6">
               
               
      
                  <div class="row">
                     <div class="col-md-12 form-group my-2">
                     <input type="email" class="form-control" name="email" id="email" placeholder="* Wprowadź swój email  " required>
                     
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12 form-group my-2">
                     <input style="-webkit-appearance: none;" maxlength="12" type="number" class="form-control" name="phone" id="phone" placeholder="Jeśli podasz swój numer, szybciej się z tobą skontaktujemy!" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12 form-group my-2">
                     <textarea class="form-control" name="message" maxlength="300" id="message" cols="30" rows="7" placeholder="* Wprowadź wiadomość  " required></textarea>
                     </div>
                  </div>  
                  <div class="row">
                     <div class="col-12 my-2">
                        
                        {{ recaptcha }} <br/>

                     </div>
                     <div class="col-12 my-2">
                     <input type="submit" value="Wyślij wiadomość" class="btn btn-primary rounded-0 py-2 px-4">
                     
                     </div>
                  </div>
               

               </div>
            </div>
         </div>
         </div>
      </div>
      
      </form>

      
         

   </div>

</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js" integrity="sha512-v8B8T8l8JiiJRGomPd2k+bPS98RWBLGChFMJbK1hmHiDHYq0EjdQl20LyWeIs+MGRLTWBycJGEGAjKkEtd7w5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<script src="{{url_for('static', filename='js/text-animation.js')}}"></script>
<script src="{{url_for('static', filename='js/gallery.js')}}"></script>
{% endblock %}